{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block webpage_title %}{% endblock %} - HiNotes</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/sal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/euclid-circulara.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnify.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnigy-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body class="rbt-header-sticky">

    <!-- Start Header Area  -->
    <header class="rbt-header rbt-header-10 nav">
        <div class="rbt-sticky-placeholder"></div>
        <div class="rbt-header-wrapper header-space-betwween header-transparent header-sticky">
            <div class="container-fluid">
                <div class="mainbar-row rbt-navigation-start align-items-center">
                    <div class="header-left rbt-header-content">
                        <div class="header-info">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'assets/images/logo/logo.png' %}" alt="Education Logo Images">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="rbt-main-navigation d-none d-xl-block">
                        <nav class="mainmenu-nav">
                            <ul class="mainmenu">
                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="#">HOME</a>
                                </li>
                                {% for class in classes %}
                                {% if not class.is_hidden %}
                                    <li class="with-megamenu has-menu-child-item position-static">
                                        <a href="#{{ class.name_word }}">CLASS {{class.name}}TH</a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <div class="rbt-btn-wrapper d-none d-xl-block">
                            <a class="rbt-btn rbt-marquee-btn marquee-auto btn-border-gradient radius-round btn-sm hover-transform-none" href="#select_class">
                                <span >Get Notes</span>
                            </a>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button rbt-round-btn">
                                    <i class="feather-menu" data-feather="menu"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area  -->

    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu nav">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'assets/images/logo/logo.png' %}" alt="Education Logo Images">
                        </a>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x" data-feather="x"></i></button>
                    </div>
                </div>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia necessitatibus recusandae eaque?
                </p>
                <ul class="navbar-top-left rbt-information-list justify-content-start">
                    <li>
                        <a href="mailto:coder2543j@gmail.com"><i class="feather-mail" data-feather="mail"></i>coder2543j@gmail.com</a>
                    </li>
                    <li>
                        <a href="#"><i class="feather-phone" data-feather="phone"></i>+91 9968551561</a>
                    </li>
                </ul>
            </div>

            <nav class="mainmenu-nav">
                <ul class="mainmenu">
                    <li class="position-static">
                        <a href="#">HOME</a>
                    </li>
                    {% for class in classes %}
                        {% if not class.is_hidden %}
                            <li class="position-static">
                                <a href="#{{ class.name_word }}">CLASS {{class.name}}TH</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>

            <div class="mobile-menu-bottom">
                <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="#select_class">
                        <span>Get Notes</span>
                    </a>
                </div>

                <div class="social-share-wrapper">
                    <span class="rbt-short-title d-block">Find Me</span>
                    <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                        <li><a href="https://chiragj-coder.github.io/">
                                <i class="feather-github" data-feather="github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Mobile Area  -->

<!-- Start Slider Area  -->
<div class="rbt-splash-slider d-flex align-items-center">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12 col-xl-6 order-2 order-xl-1">
                    <div class="inner">
                        <div class="banner-top">


                            <div class="banner-badge-top">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icons/code.svg' %}" alt="Icons Images">
                                </div>
                                <span class="subtitle">Developer Chirag Jain</span>
                            </div>
                        </div>
                        <h1 class="title">Find Excellent Notes <br > of
                            <span class="cd-headline slide">
                                <span class="cd-words-wrapper">
                                    {% block class_animation_info %}
                                    <b class="is-visible theme-gradient">8th</b>
                                    <b class="is-hidden theme-gradient">9th</b>
                                    <b class="is-hidden theme-gradient">10th</b>
                                    {% endblock class_animation_info %}
                                </span>
                            </span>
                        </h1>
                        <p class="description">The most <strong>powerful</strong> yet the
                            <strong>easiest</strong> notes ever.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-6 order-1 order-xl-2">
                    <div class="video-popup-wrapper">
                        <img class="w-100 rbt-radius" src="{% static 'assets/images/splash/banner-group-image.png' %}" alt="Video Images">
                        <!--<a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation d-none" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">-->
                        <!--    <span class="play-icon"></span>-->
                        <!--</a>-->
                        <div class="banner-group-shape">
                            <div class="shape-image scene shape-4">
                                <span data-depth="2">
                                    <img src="{% static 'assets/images/splash/icons/shape-4.png' %}" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-5">
                                <span data-depth="-2">
                                    <img src="{% static 'assets/images/splash/icons/shape-5.png' %}" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-6">
                                <span data-depth="5">
                                    <img src="{% static 'assets/images/splash/icons/shape-6.png' %}" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-7">
                                <span data-depth="-3">
                                    <img src="{% static 'assets/images/splash/icons/shape-7.png' %}" alt="Shape Images">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="splash-service-main position-relative">
                        <div class="service-wrapper service-white">
                            <div class="row g-0">
                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="{% static 'assets/images/icons/excellent.svg' %}" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Excellent</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="{% static 'assets/images/icons/icons-04.png' %}" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Easy To Understand</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="{% static 'assets/images/icons/notes.svg' %}" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Every Possible Topic</h4>
                                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="{% static 'assets/images/icons/tick.svg' %}" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Based On NCERT</h4>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="shape-wrapper">
        <div class="shape-image shape-1">
            <img src="{% static 'assets/images/splash/icons/shape-1.png' %}" alt="Shape Images">
        </div>
        <div class="shape-image shape-2">
            <img src="{% static 'assets/images/splash/icons/shape-2.png' %}" alt="Shape Images">
        </div>
        <div class="shape-image shape-3">
            <img src="{% static 'assets/images/splash/icons/shape-3.png' %}" alt="Shape Images">
        </div>
    </div>
</div>
<!-- End Slider Area  -->

<!-- Start Main Content -->
{% block main_content %}{% endblock %}
<!-- End Main Content -->

<!-- Start Footer -->
    <div class="copyright-area copyright-style-1 ptb--20 bg-color-darker">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="rbt-link-hover text-center color-white-off">HiNotes by <a href="https://chiragj-coder.github.io/" class="color-white">Developer Chirag Jain</a> © All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

<!-- End Footer -->

    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
    <!-- sal.js -->
    <script src="{% static 'assets/js/vendor/sal.js' %}"></script>
    <script src="{% static 'assets/js/vendor/swiper.js' %}"></script>
    <script src="{% static 'assets/js/vendor/magnify.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-appear.js' %}"></script>
    <script src="{% static 'assets/js/vendor/odometer.js' %}"></script>
    <script src="{% static 'assets/js/vendor/backtotop.js' %}"></script>
    <script src="{% static 'assets/js/vendor/isotop.js' %}"></script>
    <script src="{% static 'assets/js/vendor/imageloaded.js' %}"></script>

    <script src="{% static 'assets/js/vendor/wow.js' %}"></script>
    <script src="{% static 'assets/js/vendor/waypoint.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/easypie.js' %}"></script>
    <script src="{% static 'assets/js/vendor/text-type.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-one-page-nav.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/vendor/magnify-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/paralax-scroll.js' %}"></script>
    <script src="{% static 'assets/js/vendor/paralax.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/countdown.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Feather Icon -->
    <script>feather.replace()</script>
    <script>
        if (window.matchMedia("(max-width: 768px)").matches) {
            document.addEventListener('DOMContentLoaded', () => {
              // get all the anchor tags that need to trigger tab clicks
              const tabLinks = document.querySelectorAll('a[href^="#___"]');
            
              // loop through each anchor tag and add a click event listener
              tabLinks.forEach(link => {
                link.addEventListener('click', event => {
                  // prevent the default link behavior
                  event.preventDefault();
          
                  // get the ID of the corresponding tab
                  const tabId = link.getAttribute('href');
          
                  // get the class name from the tab ID
                  const className = tabId.split('_')[1];
          
                  // activate the class tab if it's not already active
                  const classTabButton = document.querySelector(`a.tab-button[data-bs-target="#_notes_adv_tab"][href="#_${className}"]`);
                  if (classTabButton && !classTabButton.classList.contains('active')) {
                    classTabButton.click();
                  }
          
                  // click on the tab button to activate it
                  const tabButton = document.querySelector(`a[data-bs-toggle="tab"][data-bs-target="${tabId}"]`);
                  if (tabButton) {
                    tabButton.click();
          
                    // wait for the tab to finish loading before scrolling to it
                    const tabContent = document.querySelector(tabId);
                    // add an event listener for the shown.bs.tab event on the tab content
                    tabContent.addEventListener('shown.bs.tab', () => {
                        // scroll to the tab content
                        tabContent.scrollIntoView({
                        behavior: 'smooth',
                        block: 'start'
                        });
                    });
                  }
                });
              });
            });
          }
          
          
          
    </script>
</body>

</html>