{% extends 'home/base.html' %}
{% load static %}

{% block webpage_title %}Home{% endblock %}

{% block class_animation_info %}{% for class in classes %}{% if not class.is_hidden %}<b class="{% if forloop.first %}is-visible{% else %}is-hidden{% endif %} theme-gradient">{{ class.name }}th</b>{% endif %}{% endfor %}{% endblock class_animation_info %}



{% block main_content %}
{% include 'dev/select_class.html'%}
{% for class in classes %}
    {% if not class.is_hidden %}
        {% include 'dev/class_n_tabular.html' with class=class %}
        {% include 'dev/class_n_adv_tab.html' with class=class %}
    {% endif %}
{% endfor %}
{% endblock main_content %}