{% load static %}
{% load custom_filters %}

<!-- Start Notes Presentation Area  -->
{% for class_obj in classes %}
    {% if not class_obj.is_hidden %}
        {% if class_obj.name == class_name %}
            <div class="rbt-inner-page-layout-area bg-color-white rbt-section-gap rbt-shape-bg-area top-circle-shape-top" id="{{ class_name_word }}">
                <div class="wrapper position-relative overflow-hidden">
                    <div class="rbt-splite-style">
                        <div class="split-wrapper">
                            <div class="row g-0 align-items-center">
                                <div class="col-lg-12 col-xl-12 col-12">
                                    <div class="split-inner">
                                        <span class="rbt-badge-6 bg-primary-opacity">Excellent Notes</span>
                                        <h4 class="title">CLASS {{class_name}}TH</h4>
                                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium?</p>
                                        
                                        <h5 class="subtitle mb--20">Get Notes:</h5>
                                        <div class="row">
                                            {% for subject_obj in class_obj.subjects.all %}
                                                {% if not subject_obj.is_hidden %}
                                                    <div class="subjectcontent col-lg-4 col-md-4 col-sm-6 col-12 mt--30" id="{{ class_name_word }}_{{ subject_obj.name }}">
                                                        <div class="footer-widget">
                                                            <h5 class="ft-title">{{ subject_obj.name }}</h5>
                                                            <ul class="ft-link">
                                                                {% for note_obj in subject_obj.notes.all %}
                                                                    {% if not note_obj.is_hidden %}
                                                                        <li><i data-feather="arrow-right"></i><a href="{{ note_obj.file.url|urldecode }}">Ch {{ note_obj.chapter_number }}: {{ note_obj.chapter_name }}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-circle-shape"></div>
                </div>
                <div class="rbt-shape-bg">
                    <img src="{% static 'assets/images/splash/bg/left-right-line-small.svg' %}" alt="Shape Images">
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
<!-- End Course Presentation Area  -->