{% load static %}

<!-- Start Notes Presentation Area  -->
<div class="rbt-inner-page-layout-area bg-color-white rbt-section-gap rbt-shape-bg-area top-circle-shape-top" id="ninth">
    <div class="wrapper position-relative overflow-hidden">
        <div class="rbt-splite-style">
            <div class="split-wrapper">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-12 col-xl-4 col-12">
                        <div class="swiper banner-splash-inner-layout-active rbt-arrow-between rbt-dot-bottom-center icon-bg-primary">
                            <div class="swiper-wrapper">

                                <!-- Start Single Slider  -->
                                <div class="swiper-slide">
                                    <div class="single-slide">
                                        <div class="rbt-splash-inner-layout-inner">
                                            <div class="thumbnail image-left-content">
                                                <img src="{% static 'assets/images/splash/innerlayout/course-layout-01.png' %}" alt="split Images">
                                            </div>
                                            <div class="content text-center">
                                                <h4 class="title">One</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Slider  -->

                                <!-- Start Single Slider  -->
                                <div class="swiper-slide">
                                    <div class="single-slide">
                                        <div class="rbt-splash-inner-layout-inner">
                                            <div class="thumbnail image-left-content">
                                                <img src="{% static 'assets/images/splash/innerlayout/course-layout-02.png' %}" alt="split Images">
                                            </div>
                                            <div class="content text-center">
                                                <h4 class="title">Two</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Slider  -->


                            </div>
                            <div class="rbt-swiper-pagination"></div>
                            <div class="rbt-swiper-arrow rbt-arrow-left">
                                <div class="custom-overfolow">
                                    <i class="rbt-icon" data-feather="arrow-left"></i>
                                    <i class="rbt-icon-top" data-feather="arrow-left"></i>
                                </div>
                            </div>
                            <div class="rbt-swiper-arrow rbt-arrow-right">
                                <div class="custom-overfolow">
                                    <i class="rbt-icont" data-feather="arrow-right"></i>
                                    <i class="rbt-icon-top" data-feather="arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-6 col-12">
                        <div class="split-inner">
                            <a href="#h">TEST</a>
                            <span class="rbt-badge-6 bg-primary-opacity">Excellent Notes</span>
                            <h4 class="title">CLASS 9TH</h4>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium?</p>
                            
                            <h5 class="subtitle mb--20">Get Notes:</h5>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt--30">
                                    <div class="footer-widget">
                                        <h5 class="ft-title">History</h5>
                                        <ul class="ft-link">
                                            {% for x,y in class_9.history %}
                                            <li><i data-feather="arrow-right"></i>
                                            <a href="{{ y }}">{{ x }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt--30">
                                    <div class="footer-widget">
                                        <h5 class="ft-title">Geography</h5>
                                        <ul class="ft-link">
                                            {% for x,y in class_9.geography %}
                                            <li><i data-feather="arrow-right"></i>
                                            <a href="{{ y }}">{{ x }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt--30">
                                    <div class="footer-widget">
                                        <h5 class="ft-title">Civics</h5>
                                        <ul class="ft-link">
                                            {% for x,y in class_9.civics %}
                                            <li><i data-feather="arrow-right"></i>
                                            <a href="{{ y }}">{{ x }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt--30">
                                    <div class="footer-widget">
                                        <h5 class="ft-title">Economics</h5>
                                        <ul class="ft-link">
                                            {% for x,y in class_9.economics %}
                                            <li><i data-feather="arrow-right"></i>
                                            <a href="{{ y }}">{{ x }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% comment %} <div class="col-lg-6 col-md-4 col-sm-6 col-12 mt--30">
                                    <div class="footer-widget">
                                        <h5 class="ft-title">Social Science Test Series</h5>
                                        <ul class="ft-link">
                                                {% for x,y in class_9.social_science_test %}
                                                <li><i data-feather="arrow-right"></i>
                                                   <a href="{{ y }}">{{ x }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </ul>
                                    </div>
                                </div> {% endcomment %}

                                <div class="col-lg-4 col-md-5 col-sm-6 col-12 mt--30">
                                    <div class="footer-widget">
                                        <h5 class="ft-title">Moments</h5>
                                        <ul class="ft-link">
                                        {% for x,y in class_9.eng_LM %}
                                            <li>
                                                <i data-feather="arrow-right"></i><a href="{{ y }}">{{ x }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                                    <div class="footer-widget">
                                        <h5 class="ft-title">Beehive</h5>
                                        <ul class="ft-link">
                                        {% for x,y in class_9.eng_LB %}
                                            <li>
                                                <i data-feather="arrow-right"></i><a href="{{ y }}">{{ x }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-circle-shape"></div>
    </div>
    <div class="rbt-shape-bg">
        <img src="{% static 'assets/images/splash/bg/left-right-line-small.svg' %}" alt="Shape Images">
    </div>
</div>
<!-- End Course Presentation Area  -->