<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="static/docs/class_10/civics/2.pdf"><h1>HELLO</h1></a>
    <li>Civics</li>
    
                                        {% for x,y in class_10.civics %}
                                        {{ class_10.civics }}
                                        <li><i class="feather-check"></i>

                                           <a href="{{ y }}">{{ x }}</a>
                                        </li>
                                        {% endfor %}
</body>
</html>