{% extends 'base.html' %}
{% load static %}

{% block webpage_title %}Home{% endblock %}

{% block class_animation_info %}
    {% for class_obj in classes %}
        {% if not class_obj.is_hidden %}
            {% if forloop.counter == 1 %}
                <b class="is-visible theme-gradient">{{ class_obj.name }}th</b>
            {% else %}
                <b class="is-hidden theme-gradient">{{ class_obj.name }}th</b>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock class_animation_info %}



{% block main_content %}
{% include 'select_class.html' with class_name_=class.name class_name_word_=class.name_word %}
{% for class in classes %}
    {% if class.name|add:0|divisibleby:2 %}
    {% include 'class_n_left.html' with class_name=class.name class_name_word=class.name_word %}
    {% else %}
    {% include 'class_n_right.html' with class_name=class.name class_name_word=class.name_word %}
    {% endif %}
{% endfor %}


{% endblock main_content %}